<section id='records'>
  <section id='records count'>
    <%= Product.count %> Products
  </section>
  <%= render :partial => 'records' %>
</section>
<aside id='actions'>
  <%= render :partial => 'actions' %>
</aside>
<%= render :partial => '/shared/admin/make_sortable',
            :locals => {
              :tree => false
            } if !searching? and Admin::ProductsController.sortable? and Product.count > 1 %>
